body{
    text-align: center;
    background-color: aquamarine;
    margin: 0;
}

.musicPic{
    background-image: url("musicPic.jpg");
    width: 100%;
    width: 100vw;
    height: 250px;
    display: block;
}

#musicSearch{
    justify-content: center;
    min-width: 500px;
    min-height: 30px;
}

#searchBar{
    margin: 1rem;
    min-width: 350px;
    font-size: 20px;
    display: center;
}

#searchButton{
    display: center;
    margin: 1rem;
    border: 2px solid black;
    background-color: lightgray;
    width: 75px;
    font-size: 15px;
}

#musicPlayer > audio{
    display: center;
    width: 400px;
}

.currentlyPlaying{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

#musicResults{
    display: center;
    font-size: 15px;
}

#artist{
    font-size: 2rem;
    text-transform: capitalize;
}

#track{
    justify-content: space-evenly;
}
