<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>iTunes Search Bar</title>
</head>
<body> 

    <div id="titleDiv">
        <h1 id="musicJam">Music Jam</h1>
    </div>
    <section class="musicPic"></section>
    <br>
    <form id="searchForm">
        <div id="musicSearch"> 
            <input id="searchBar" type="text" placeholder="Search for Music..." onfocus="this.value=''">
            <button id="searchButton" type="submit">Search</button>
                <div id="selectionControl">
                    <label class="radio">
                        <input type="radio" name="searchType" class="searchType" id="artistTerm" value="&attribute=artistTerm" checked="true">
                        Artist
                    </label>
                    <label class="radio">
                        <input type="radio" name="searchType" class ="searchType" id="songTerm" value="&attribute=songTerm">
                        Song
                    </label>
                    <label class="radio">
                        <input type="radio" name="searchType" class="searchType" id="albumTerm" value="&attribute=albumTerm">
                        Album
                    </label>
                    <label class="radio">
                        <input type="radio" name="searchType" class="searchType" id="albumTerm" value="&attribute=composerTerm">
                        Composer
                    </label>
                </div>
    </form>
    </div>
    <hr>
    <div id="musicPlayer">
        <p class="currentlyPlaying">Currently Playing: </p>
        <audio id="audioPreview" controls="controls" src=''>                    
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>
    <hr>
    <div id="searchDiv">
    <h2 id="searchHeader">Search Results: </h2>
    </div>
    <br>
    <div id="musicResults">
        <div id="artist"></div>
    </div>
</body>
</html>