body{
    text-align: center;
    background-color: aquamarine;
    margin: 0;
}

.musicPic{
    background-image: url("{% static 'images/musicPic.jpg'%}");
    width: 100%;
    width: 100vw;
    height: 250px;
    display: block;
}

#musicSearch{
    justify-content: center;
    min-width: 500px;
    min-height: 30px;
}

#searchBar{
    margin: 1rem;
    min-width: 350px;
    font-size: 20px;
    display: center;
}

#searchButton{
    display: center;
    margin: 1rem;
    border: 2px solid black;
    background: #008080;
    background-image: -webkit-linear-gradient(top, 	#00FFFF,	#008080);  
    background-image: -moz-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: -ms-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: -o-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: linear-gradient(to bottom, 	#00FFFF, #008080);
    -webkit-border-radius: 28;  
    -moz-border-radius: 28;  
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;  
    -webkit-box-shadow: 6px 5px 24px #666666;  
    -moz-box-shadow: 6px 5px 24px #666666;  
    box-shadow: 6px 5px 24px #666666;
    width: 75px;
    font-size: 15px;
}

#musicPlayer > audio{
    display: center;
    background: #008080;
    background-image: -webkit-linear-gradient(top, 	#00FFFF,	#008080);  
    background-image: -moz-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: -ms-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: -o-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: linear-gradient(to bottom, 	#00FFFF, #008080);
    width: 400px;
}


.currentlyPlaying{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: aquamarine;
    -webkit-animation-name: currentlyPlaying; 
    -webkit-animation-duration: 20s; 
    animation-name: currentlyPlaying;
    animation-duration: 20s;
    justify-content: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes currentlyPlaying {
    from {background-color: aquamarine;}
    to {background-color: goldenrod;}
  }
  
  /* Standard */
  @keyframes currentlyPlaying {
    from {background-color: aquamarine;}
    to {background-color: goldenrod;}
  }

#musicResults{
    display: center;
    font-size: 15px;
}

#artist{
    font-size: 2rem;
    text-transform: capitalize;
}


#resultsDiv{
    justify-content: center;
}

#playSample{
    font-size: 15px;
    background: #008080;
    background-image: -webkit-linear-gradient(top, 	#00FFFF,	#008080);  
    background-image: -moz-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: -ms-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: -o-linear-gradient(top, 	#00FFFF, #008080);  
    background-image: linear-gradient(to bottom, 	#00FFFF, #008080);
    -webkit-border-radius: 28;  
    -moz-border-radius: 28;  
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;  
    -webkit-box-shadow: 6px 5px 24px #666666;  
    -moz-box-shadow: 6px 5px 24px #666666;  
    box-shadow: 6px 5px 24px #666666;
}

